<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <section class="flash">
      {% for category, msg in messages %}
      <p class="{{category}}">{{msg}}</p>
      {% endfor %}
    </section>
    {% endif %} {% endwith %}
    <div
      class="container-fluid border-warning-subtle text-bg-warning-subtle p-1"
    >
      <h1 class="display-3 text-center">Welcome To Blogly!</h1>
    </div>

    <div class="container-fluid mt-2 d-flex justify-content-center">
      <div class="container d-flex justify-content-center bg-dark p-2">
        <a href="/"
          ><button type="button" class="btn btn-outline-warning me-2">
            Home
          </button></a
        >
        <a href="/users"
          ><button type="button" class="btn btn-outline-warning me-2">
            All Users
          </button></a
        >
        <a href="/users/new"
          ><button type="button" class="btn btn-outline-warning me-2">
            + New User
          </button></a
        >
        <a href="/posts"
          ><button type="button" class="btn btn-outline-warning me-2">
            All Posts
          </button></a
        >
      </div>
    </div>
    {% if 'nav' is defined %} {% block nav %} {% endblock %} {% endif %} {%
    block content %} {% endblock %}
  </body>
</html>
