{% extends 'base.html' %} {% block title %} Blogly {% endblock %} {% block logo
%} [ BLOGLY ] {% endblock %} {% block content %}

<div class="container-fluid mt-1 d-flex justify-content-center">
  <div class="container d-flex bg-warning-subtle p-3 justify-content-center">
    <form action="/users/new" method="post">
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="first_name"
          name="first_name"
          placeholder="Please enter a first name"
          value="{{ existing_value }}"
        />
      </div>
      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="last_name"
          name="last_name"
          placeholder="Please enter a last name"
          value="{{ existing_value }}"
        />
      </div>
      <div class="mb-1">
        <label for="image_url" class="form-label">Image Url</label>
        <input
          type="text"
          class="form-control"
          id="image_url"
          name="image_url"
          placeholder="Provide an image of this user"
          aria-describedby="urlHelp"
          value="{{ existing_value }}"
        />
      </div>
      <div id="urlHelp" class="form-text mb-3">
        Please check to ensure all the fields are correctly filled.
      </div>
      <button type="submit" class="btn btn-warning">Submit</button>
    </form>
  </div>
</div>
<div class="container-fluid mt-1 d-flex justify-content-center">
  <div class="container d-flex bg-warning-subtle p-1 justify-content-center">
    <img
      src="https://images.pexels.com/photos/267569/pexels-photo-267569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      class="img-fluid"
      alt="Woman working on laptop"
    />
  </div>
</div>

<div class="container-fluid mt-1">
  <div class="container bg-warning-subtle pt-2 text-center">
    <p class="pb-2">A Samie Smilz | Production</p>
  </div>
</div>

{% endblock %}
