{% extends 'base.html' %} {% block title %} Blogly {% endblock %} {% block logo
%} [ BLOGLY ] {% endblock %} {% block content %}

<div class="container-fluid mt-1 d-flex justify-content-center">
  <div class="container d-flex bg-warning-subtle p-5 justify-content-center">
    <p>
      "Embark on a journey of words and wonders as you step into the vibrant
      world of Blogly—a realm where thoughts take flight and creativity knows no
      bounds. Welcome to a space where stories unfold, ideas spark, and the
      magic of expression comes to life. Join us in the art of storytelling,
      where every post is a portal to inspiration. Welcome to Blogly, where
      words find their home and imaginations run wild!"
    </p>
  </div>
</div>

{% if posts %}
<div class="container mt-3">
  {% for post in posts %}
  <div class="card mb-3 bg-dark text-bg-dark">
    <div class="card-body">
      <h5 class="card-title text-warning">
        <a class="text-warning" href="/posts/{{post.id}}">{{post.title}}</a>
      </h5>
      <p class="card-text">{{post.content}}</p>
      <p class="card-text">
        <small class="text-info">
          Tags: {% for tag in post.tags %} |
          <a class="text-info" href="tags/{{tag.id}}">{{tag.name}}</a> {% endfor
          %}
        </small>
        <br />
        <small class=""
          >By:
          <span class="ps-2 me-2"
            ><a
              class="text-info text-decoration-none"
              href="/users/{{post.user_id}}"
              >{{post.user.get_full_name()}}</a
            ></span
          >|
          <span class="text-secondary ps-2"
            >Last updated - {{post.last_updated()}}</span
          >
        </small>
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}

<div class="container-fluid mt-1">
  <div class="container bg-warning-subtle pt-2 text-center">
    <p class="pb-2">A Samie Smilz | Production</p>
  </div>
</div>

{% endblock %}
