{% extends 'base.html' %} {% block title %} Blogly {% endblock %} {% block logo
%} [ BLOGLY ] {% endblock %} {% block content %}

<div class="container-fluid mt-1">
  <div class="container bg-warning-subtle p-5">
    <div class="row">
      {% if post %}
      <div class="col-md-12 mb-3">
        <!-- Adjust the column size as per your design -->
        <div class="card text-dark">
          <div class="card-header bg-dark text-white">{{ post.title }}</div>
          <div class="card-body">
            <p class="card-text">{{ post.content }}</p>
            <div class="btn-group">
              <a
                href="/posts/{{ post.id }}/edit"
                class="btn btn-primary me-1"
                aria-current="page"
                >Edit</a
              >
              <a href="/posts/{{ post.id }}/delete" class="btn btn-danger"
                >Delete</a
              >
            </div>
          </div>
        </div>
      </div>
      {% else %}
      <p>There are currently no posts yet.</p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
