{% extends 'base.html' %} {% block title %} Blogly {% endblock %} {% block logo
%} [ BLOGLY ] {% endblock %} {% block content %}

<div class="container-fluid mt-1 d-flex justify-content-center">
  <div class="container d-flex bg-warning-subtle p-5 justify-content-center">
    {% if users %}
    <ul>
      {% for user in users %}
      <div class="card mb-3" style="max-width: 540px">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="{{user.image_url}}"
              class="img-fluid rounded-start"
              alt="profile image"
            />
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h3 class="card-title">
                <a href="/users/{{user.id}}">Meet {{user.first_name}}.</a>
              </h3>
              <span class="card-text d-block"
                ><strong>First Name: </strong>{{user.first_name}}</span
              >
              <span class="card-text"
                ><strong>Last Name: </strong> {{user.last_name}}</span
              >
              <p class="card-text">
                <small class="text-body-secondary">Joined: 3 mins ago</small>
              </p>
            </div>
          </div>
          <div class="btn-group col-l-4">
            <a
              href="/users/{{user.id}}/edit"
              class="btn btn-primary active me-1"
              aria-current="page"
              >Edit</a
            >
            <a href="/users/{{user.id}}/delete" class="btn btn-danger"
              >Delete</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>There are currently no users.</p>
    {% endif %}
  </div>
</div>
<div class="container-fluid mt-1 d-flex justify-content-center">
  <div class="container d-flex bg-warning-subtle p-1 justify-content-center">
    <img
      src="https://images.pexels.com/photos/267569/pexels-photo-267569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
      class="img-fluid"
      alt="Woman working on laptop"
    />
  </div>
</div>

<div class="container-fluid mt-1 d-flex justify-content-center">
  <div class="container d-flex bg-warning-subtle justify-content-center pt-2">
    <p class="text-center">A Samie Smilz | Production</p>
  </div>
</div>

{% endblock %}
